{% extends "layout.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-md-9" style="margin-top: 3em;">
    {% crispy form %}
</div>

	<section id="ventana">
		<div class="banner">
			<figure>
				<img class="fondo-rayado" src="{% static 'img/tiendas/texturagris_1024.jpg' %}">
				</img>
			</figure>
			<p class="titulo">Registrando mi tienda</p>
		</div>
		<div class="cuerpo">
			<figure>
				<img class="flecha-img" src="{% static 'img/tiendas/fondo_flecha_1024.png' %}">
				</img>
			</figure>
			<p class="subtitulo">Datos de contacto</p>
			<figure>
				<img class="linea-curva" src="{% static 'img/lineacurva.png' %}">
				</img>
			</figure>
			<figure>
				<img class="lap" src="{% static 'img/tiendas/lap.png' %}">
				</img>
			</figure>
			<div class="circulos-cont">
				<a href="">
					<div class="circulo-verde">
					1	
					</div>
				</a>
				<a href="">
					<div class="circulo-gris">
					2	
					</div>
				</a>
				<a href="">
					<div class="circulo-gris">
					3	
					</div>
				</a>
				<a href="">
					<div class="circulo-gris">
					4	
					</div>
				</a>
			</div>
			<figure>
				<img class="pleca" src="{% static 'img/tiendas/pleca.png' %}">
				</img>
			</figure>
			<figure>
				<img class="tabla-check" src="{% static 'img/tiendas/tabla_check.png' %}">
				</img>
			</figure>
			<div class="cuadro-cont">
				<form class="forma" action="" method="post">
					<label for="firstname">
						Nombre(s)
					</label>
					<br>
					<input type="text" id="firstname" name="firstname" size="40"/>
					<br>
					<br>
					<label for="lastname">
						Apellidos
					</label>
					<br>
					<input type="text" id="lastname" name="lastname" size="40"/>
					<br>
					<br>
					<label for="email">
						Email
					</label>
					<br>
					<input type="text" id="email" name="email" size="40"/>
					<br>
					<br>
					<label for="phone">
						Teléfono
					</label>
					<br>
					<input type="text" id="phone" name="phone" size="40"/>
				</form>
			</div>
		</div>
		<div class="banner">
			<figure>
				<img class="fondo-rayado" src="{% static 'img/tiendas/texturagris_1024.jpg' %}">
			</img>
			</figure>
			<a class="listo-boton" href="#">¡Listo!
			</a>
		</div>

	</section>

{% endblock content %}


{% block extra_js %}
<script>
    $(function(){
        console.log('test!');
    })();
</script>
{% endblock extra_js %}