{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
<div class="col-md-9" style="margin-top: 3em;">
    {% crispy form %}
</div>

<section id="ventana">
    <div class="banner">
      <figure>
        <img class="fondo-rayado" src="{% static 'img/tiendas/texturagris_1024.jpg' %}">
        </img>
      </figure>
      <p class="titulo">Registrando mi tienda</p>
    </div>
    <div class="cuerpo">
      <figure>
        <img class="flecha-img" src="{% static 'img/tiendas/fondo_flecha_1024.png' %}">
        </img>
      </figure>
      <div class="subtitulo-box">
        <p class="subtitulo-text">Características</p>
      </div>
      <figure>
        <img class="linea-curva" src="{% static 'img/lineacurva.png' %}">
        </img>
      </figure>
      <figure>
        <img class="casita" src="{% static 'img/tiendas/tablita-lapiz.png' %}">
        </img>
      </figure>
      <div class="circulos-cont">
        <a href="">
          <div class="circulo-gris">
          1 
          </div>
        </a>
        <a href="">
          <div class="circulo-gris">
          2 
          </div>
        </a>
        <a href="">
          <div class="circulo-gris">
          3 
          </div>
        </a>
        <a href="">
          <div class="circulo-verde">
          4 
          </div>
        </a>
      </div>
      <figure>
        <img class="pleca2" src="{% static 'img/tiendas/pleca.png' %}">
        </img>
      </figure>
      <figure>
        <img class="tabla-check" src="{% static 'img/tiendas/plug.png' %}">
        </img>
      </figure>
      <div class="cuadro-cont2">
        
          {% crispy form %}


      </div>
    </div>
    <div class="banner">
      <figure>
        <img class="fondo-rayado" src="{% static 'img/tiendas/texturagris_1024.jpg' %}">
      </img>
      </figure>
      <a class="listo-boton" href="#">¡Listo!
      </a>
    </div>

  </section>








{% endblock content %}


{% block extra_js %}
<script>
  $(function() {
    $("#id_delegacion_municipio").on("change", function(){
      $.ajax({
        data: {'id': $(this).val()},
        url: "{% url 'core:ajax-postal-codes' %}",
        type: "get",
        success: function (data) {
          var html = "<option value=''> --Seleccionar Código Postal-- </option>";
          for (var i = 0; i < data.length; i++) {
            html += "<option value='" + data[i].pk + "'>" + data[i].fields.postal_code_key + "</option>";
          }
          $("select#id_codigo_postal").html(html);
        }
      });
    });
  });
</script>
{% endblock extra_js %}