{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
	<!-- -------------------------FOTOS TIENDA---------------------- -->
	<section id="resumen-tienda">
		<div class="encabezado-tienda">
			<div class="cabeza-espacio">
				<p class="texto1">{{ object.store_name }}</p>
				<p class="texto2">-{{ object.tabulator }}</p>
				<div class="estrellas">
						<a class="icon-star"></a>
						<a class="icon-star"></a>
						<a class="icon-star"></a>
						<a class="icon-star"></a>
						<a class="icon-star-bad"></a>
				</div>
				<p class="ubicacion">{{ object.activity}} // Publicado por: {{ object.contact }}</p>
			</div>
		</div>
		<div class="datos-cont">
			<div class="datos-col-1">
				<div class="espacio-flecha">
					<a class="icon-chevron-left" href=""></a>
				</div>
				<div class="fotos-cont">
					<figure>
						<img class="foto-princ" src="{% static 'media/' %}{{ object.logo }}"></img>
					</figure>
					<div class="fotos-small">
						<figure>
							<img class="foto-sm-0" src="{{ object.image1 }}"></img>
						</figure>
						<figure>
							<img class="foto-sm" src="{{ object.image2 }}"></img>
						</figure>
						<figure>
							<img class="foto-sm" src="{{ object.image3 }}"></img>
						</figure>
						<figure>
							<img class="foto-sm" src="{{ object.image4 }}"></img>
						</figure>
					</div>
				</div>
				<div class="espacio-flecha">
					<a class="icon-chevron-right" href=""></a>
				</div>
			</div>
			<div class="datos-col-2">
				<div class="renglones-cont">
					<div class="ren-1">
						<p>renta este lugar</p>
					</div>
					<div class="ren-2">
						<p class="precio">$ {{ object.price }}</p>
						<p class="por-sel">por dia ^</p>
					</div>
					<div class="ren-3">
						<div class="boton-enviar">
							Enviar Solicitud
						</div>
						<p>*La mensualidad está basada en 4 semanas</p>
					</div>
				</div>
				<div class="ren-4">
					<a class="icon-checkmark" class="icono-paloma" href=""></a>
					<p>usuario verificado</p>
				</div>
				<div class="ren-5">
					<a class="icon-location" href=""></a>
					<p>
						{{ object.address }} {{ object.address.postal_code.postal_code_key }},
					
						{{ object.address.postal_code.town.town_name }}, {{ object.address.postal_code.town.city.city_name }}, {{ object.address.postal_code.town.city.state.state_name}}, {{ object.address.postal_code.town.city.state.country.country_name}} 
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- ------------------------DETALLES TIENDA---------------------- -->
	<section id="detalles-tienda">
		<div class="detalles-cont">
			<div class="detalles-col-1">
				<div class="tabla-detalles">
					<div class="titulo">
						características
					</div>
					<ul class="lista-opciones">
					
						<li class="en-{{ object.wireless }}">Wi-fi</li>
					
						<li class="en-{{ object.stands }}"> Estanterías</li>
						<li class="en-{{ object.repisas }}">Repisas</li>
						<li class="en-{{ object.boards }}">Mesas</li>
						<li class="en-{{ object.lighting }}">Iluminación</li>
					</ul>
					<ul class="lista-opciones">
						<liclass="en-{{ object.electricity }}">Electricidad</li>
						<li class="en-{{ object.water }}">Agua</li>
						<li class="en-{{ object.airconditioning }}">Aire Acondicionado</li>
						<li class="en-{{ object.toilets }}">Baño</li>
						<li class="en-{{ object.heating }}">Calefacción</li>
					</ul>
					<ul class="lista-opciones">
						<li class="en-{{ object.elevator }}">Elevador</li>
						<li class="en-{{ object.parkinglot }}">Estacionamiento</li>
					</ul>
				</div>
				<div class="tabla-detalles">
					<div class="titulo">
						lugares cercanos
					</div>
					<ul class="lista-opciones">
						<li class="en-{{ object.wireless }}">Banco</li>
						<li>Comida rápida</li>
						<li class="en-{{ object.wireless }}">Estación de retro</li>
						
					</ul>
					<ul class="lista-opciones">
						<li>Áreas recreativas</li>
						<li class="en-{{ object.wireless }}">Escuela</li>
					</ul>
					<ul class="lista-opciones">
						<li>Tiendas</li>
						<li class="en-{{ object.wireless }}">Estacionamiento</li>
					</ul>
				</div>
			</div>
			<div class="detalles-col-2">
				<p>disponibilidad de este local</p>
				<figure>
					<img class="calendario" src="{% static 'img/tiendas/calendario.png' %}"></img>
				</figure>
				<p>alrededor de este local</p>
				<figure>
					<img class="mapa" src="{% static 'img/tiendas/mapa.png' %}"></img>
				</figure>
			</div>
		</div>
	</section>
{% endblock content %}